<section class=" pt-4 pb-0">

    <div class="container text-secondary">
      <hr class="opacity-25"><br>
      <div class="row">
        <div class="col-12 col-lg-4 mb-3"><a href="#"><img class="d-inline-block align-middle" src="/img/icon.png" alt="" width="150"></a>
          <p class="my-3"> <span class="fw-medium"> </span>is a private virtual network that<br />has unique features and has high security. </p>
          
          <p class="text-400 my-3">&copy; 2021 Cryptrich.</p>
        </div>
        <div class="col-12 col-lg-8 mb-3">
          <p class="small">
            Cryptrich is not available to the general public and is opened only to the qualified members of Cryptrich the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the Cryptrich and its Member.
            <br><br>
             We are not FDIC insured. We are not a licensed bank or a security firm.
          </p>
          </ul>
        </div>
        <hr class="opacity-25" />
        <div class="text-400 text-center">
          <p class="small">&copy; 2021 All right reserved for <a class="text-light" href="/">Cryptrich</a>
          </p>
        </div>
      </div>
    </div>

  </section>