<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Cryptrich - World's first pool trading system</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" />

  </head>
  <body>    
    <main class="main" id="top">
      <%- include("./partials/header.ejs") %> 
      <!-- ============================================-->
      <!-- <section> begin ============================-->
       
      <section class="fs--1 mt-1 pt-8" id="login">
        <div class="container">
          <div class="row">
          <div class="col-md-12">
          <div class="text-center">
          <h3 class="gray-color">Bounty</h3>
          <span class="text-secondary"><a href="/" class="text-light">Home</a> / Bounty</span> </div>
          </div>
          </div>
          </div>
          <div class="container mt-5">
          <div class="row">
          <div class="col-md-6">
          <div class="bounty-text">
          <p class="text-light">Cryptrich bonus program is an opportunity to get up to $ 100 for free by performing simple actions aimed at the project popularization.</p>
          </div>
          <div class="bounty-text">
          <p class="text-light">Hurry up! Only the first 2500 participants get bonuses: that is 500 people, who submitted requests after reposting news in Facebook, 500 people in YouTube, 500 people in Twitter and 500 in Bitcointalk.</p>
          </div>
          <div class="bounty-text">
          <p class="text-light">To achieve the goals and get paid for it, you must fulfill the required conditions.</p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="bounty-text1">
          <h4 class="green-color">Mandatory conditions</h4>
          <p class="text-light">1.Register on the company's website <a href="">http://Cryptrich.com</a></p>
          <p class="text-light">2.Make a deposit on any tariff plan <a href="">http://Cryptrich.com/</a></p>
          </div>
          </div>
          </div>
          <div class="row mt-4">
          <div class="col-md-6">
          <div class="bounty-text2">
          <h5 class="gray-color">Facebook campaign</h5>
          <h6 class="text-success">Make a repost of the news from our official Facebook page to your personal page.</h6>
          <p class="text-light">The bonus is 0.5 $ for repost of the news.</p>
          <p class="text-light">The maximum bonus can be 20 $</p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="bounty-img">
          <img src="img/goal-facebook.png">
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="bounty-point">
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your Facebook account must be created more than 1 months ago.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; The number of friends must exceed 150.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your account and posts should be publicly available.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; After publication, the repost should remain alive on your page not less than for 3 days.</p>
          </div>
          </div>
          </div>
          <div class="row mt-4">
          <div class="col-md-7">
          <div class="bounty-text2">
          <h5 class="gray-color">YouTube campaign</h5>
          <h6 class="text-success">Make a video review of the website of our company or a video review of the
          cooperation with us. The length of the video is 1-3 minutes.</h6>
          <p class="text-light">The bonus is 2 $ for the video. The more subscribers there are on the channel, the bigger bonus is.</p>
          <p class="text-light">The maximum bonus can be 200 $. (Depending on channel activity)</p>
          </div>
          </div>
          <div class="col-md-5">
          <div class="bounty-img">
          <img src="img/youtube.png" style="width:240px;">
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="bounty-point">
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your YouTube account has to be created more than 1 month ago.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your YouTube account has to have not less than 100 subscribers.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your YouTube account and all publications should be publicly available.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; After publication video review should remain alive on your channel not less than for 7 days.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; The title of the video must contain the "Cryptrich.com" or "Cryptrich" keywords.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Only 1 video per 30 days is paid.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Put your referral link to the project in the description. Link example <a href="http://Cryptrich.com/">http://Cryptrich.com/</a></p>
          </div>
          </div>
          </div>
          <div class="row mt-4">
          <div class="col-md-7">
          <div class="bounty-text2">
          <h5 class="gray-color">Telegram campaign</h5>
          <h6 class="text-success">We offer administrators of their own channels and chats to get rewarded for promoting the Forex Brokers Club service.</h6>
          <p class="text-light">Task: write a post about the Forex Brokers Club service on your channel (in your chat) with your affiliate link (topics: website review, feedback, instructions on tariffs or personal account). One mandatory condition is to have at least 300 live subscribers or chat participants.</p>
          <p class="text-light">Fill out and send the APPLICATION FORM to participate in the Bounty program.</p>
          <p class="text-light">Reward: The size of your bonus depends on the content quality, subscribers (chat participants) number, the popularity of the source.</p>
          <p class="text-light">Cash reward: from 0,5 $ to 100 $.</p>
          <p class="text-light">
          In case of poor-quality content, fake subscribers/followers/friends, multiple registrations or other fraudulent schemes, the administration has the right to refuse to pay a reward. </p><p class="text-light">
          Your own investments by default make the amount of the reward higher, but they are not an obligatory condition (optional). </p><p class="text-light">
          <span>
          NOTE:
          </span>
          You receive a bonus only once in 30 days, so that the post is not deleted on the day it is posted. Cash reward is charged to your personal account balance, these funds are available both for withdrawal and for the purchase of contracts. </p>
          </div>
          </div>
          <div class="col-md-5">
          <div class="bounty-img">
          <img src="img/tg.png" style="width:240px;">
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="bounty-point">
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your Telegram account has to be created more than 3 months ago.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; You need to have more than 300 subscribers.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; In the account description you need to attach your referral link.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your account and all the posts have to be open to public.</p>
          </div>
          </div>
          </div>
          <div class="row mt-4">
          <div class="col-md-7">
          <div class="bounty-text2">
          <h5 class="gray-color">PERSONAL BLOG OR WEBSITE campaign</h5>
          <h6 class="text-success">
          Do you have your own blog or your own website and you have your own audience? </h6>
          <p class="text-light">
          We suggest placing an article or review about the Forex Brokers Club project and receive a cash reward for it. </p>
          <p class="text-light">
          The amount of the reward is determined individually after the application has been reviewed by the administration of the project. </p>
          <p class="text-light">
          Task: write a unique article or review (the text must be at least 90% unique) for Cryptrich Limited. The article should be at least 2000 signs long. </p>
          <p class="text-light">
          Fill out the APPLICATION FORM to participate in the Bounty program or send a request for consideration to the official mail of the project's technical support (specify our email). </p>
          </div>
          </div>
          <div class="col-md-5">
          <div class="bounty-img">
          <img src="img/blog.png" style="width:240px;">
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="bounty-point">
          </div>
          </div>
          </div>
          <div class="row mt-4">
          <div class="col-md-7">
          <div class="bounty-text2">
          <h5 class="gray-color">Twitter campaign</h5>
          <h6 class="text-success">Make retweet news from the official page on Twitter to your personal page.</h6>
          <p class="text-light">The bonus is 0.5 $ for the retweet news.</p>
          <p class="text-light">The maximum bonus can be 20 $</p>
          </div>
          </div>
          <div class="col-md-5">
          <div class="bounty-img">
          <img src="img/goal-twitter.png">
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="bounty-point">
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your Twitter account has to be created more than 1 month ago.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your Twitter account has to have not less than 150 friends.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Your Twitter account and all publications should be publicly available.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; After publication, the retweet should remain alive on your page not less than for 3 days.</p>
          </div>
          </div>
          </div>
          <div class="row mt-4">
          <div class="col-md-7">
          <div class="bounty-text2">
          <h5 class="gray-color">BitcoinTalk campaign</h5>
          <h6 class="text-success">Place your referral link from the Cryptrich.com project in your profile signature on the
          forum <a href="http://bitcointalk.org/" target="_blank">http://bitcointalk.org.</a></h6>
          <p class="text-light">Link example <a href="/">http://Cryptrich.com/</a></p>
          </div>
          </div>
          <div class="col-md-5">
          <div class="bounty-img">
          <img src="img/bitcointalk.png" style=" width: 250px;">
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
          <div class="bounty-point">
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; You receive the corresponding bonus after 30 days of accommodation.</p>
          <p class="text-light"><i class="fas fa-check"></i> &nbsp; Application for participation in the bonus program can be sent every 30 days.</p>
          </div>
          </div>
          </div>
          <div class="row align-items-center mt-4">
          <div class="col-md-7">
          <div class="bounty-text2">
          <h3 class="gray-color">BONUS AWARDS</h3>
          <p class="text-light">After completing the task, fill in the appropriate form. Your data will be added to the table for verification by our staff. The bonus is awarded when pool ended after each and every Tier, provided that the task is completed correctly. If your actions do not meet our conditions, the bonus will not be provided.
          You Must Registered Member</p>
          </div>
          </div>
          <div class="col-md-5">
          <div class="bounty-img">
          <img src="img/bonus.png" class="img-responsive" width="280">
          </div>
          </div>
          </div>
          </div>
          </section>
      <%- include("./partials/footer.ejs") %> 
    </main>
    <script src="/vendors/@popperjs/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="http://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/js/theme.js"></script>

    <link href="http://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  </body>

</html>