<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Cryptrich - World's first pool trading system</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    
    <main class="main" id="top">
      
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3" style="background-color: #1F2641;">
        <div class="container"><a class="navbar-brand" href="/"><img src="/img/icon.png" alt="" width="240"></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/admin-panel">Polls</a></li>
              <li class="nav-item"><a class="nav-link" href="/admin-user">Users</a></li>
            </ul>
            <form class="d-flex py-3 py-lg-0">
              <% if(!currentUser){ %>
                <a href="/login" class="btn btn-gray text-light rounded-pill order-0">LOGIN</a>
                <% }else{ %>
                  <a href="/profile" class="btn btn-gray text-light rounded-pill order-0">PROFILE</a>&nbsp;
                  <a href="/logout" class="btn btn-gray text-light rounded-pill order-0">LOGOUT</a>
                  <% } %> 
            </form>
          </div>
        </div>
      </nav>
      


<!-- ============================================-->
      <!-- <section> begin ============================-->
        <section class="py-7" id="login">

          <div class="container-lg mt-5 mt-md-4">
            <div class="row justify-content-center">
              <div class="col-md-12 text-center mb-3">
                  <img src="https://davhizrhxzcu1.cloudfront.net/assets/media_kit/logo_blue-0a5ceed1257be54ad73861d21767f5c202bcf72d9b15e437d308655a24250702.png" class="mt-0 mb-2 mb-md-4 img-fluid" width="170">
                <h2 class="text-light">Edit the "<%=poll.pool %> <%=poll.plan%>" polls</h2>
               </div>
            </div>
          </div>
          <div class="container">
              
              <div class="row text-center justify-content-center">
                      <div class="col-10 col-md-5">
                          <!-- Table -->
                          <form action="/editpoll/<%=poll.id%>?_method=PUT" method="POST">
                            <div class="mb-3">
                              <input type="text" class="form-control" placeholder="Percentage" name="percent" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Save Poll</button>
                          </form>
                        
                      </div>
                    </div>
          </div>
          
          <!-- end of .container-->
  
        </section>
        <!-- Button trigger modal -->



     

<%- include("./partials/footer.ejs") %> 

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/vendors/@popperjs/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  </body>

</html>