<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Cryptrich - World's first pool trading system</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    
    <main class="main" id="top">
      <%- include("./partials/header.ejs") %> 
      
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-7">

        <div class="container-lg mt-4">
          <div class="row h-100 justify-content-center">
            
                
                  
                    <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center text-light">404</h1>
                    
                    
                    </div>
                    
                    <div class="contant_box_404">
                    <h3 class="h2 text-light">
                    Look like you're lost
                    </h3>
                    
                    <p class="text-secondary">the page you are looking for not avaible!</p>
                    
                    <a href="/" class="link_404 gray-color">Go to Home</a>
                </div>
                    </div>
                  
            
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <%- include("./partials/footer.ejs") %> 
    </main>
    <script src="/vendors/@popperjs/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  </body>

</html>