<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Cryptrich - World's first pool trading system</title>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="/css/theme.css" rel="stylesheet" />

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    
    <main class="main" id="top">
      <%- include("./partials/header.ejs") %> 
      
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-7" id="login">

        <div class="container-lg mt-3">
          <div class="row h-100 justify-content-center">
            <div class="col-12 col-md-8 pt-2 px-md-2 px-lg-3">
              <div class="card">
                <div class="card-body d-flex flex-column justify-content-around mx-1">
                  <div class="text-left">
                    <h3 class="my-3 gray-color">Rules and Conditions: </h3>
                  </div>
                  <p class="small my-3">
                    Please read the following rules carefully before signing in.

You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years.
<br><br>
Cryptrich is not available to the general public and is opened only to the qualified members of Cryptrich the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the Cryptrich and its Member.
<br><br>
As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are not FDIC insured. We are not a licensed bank or a security firm.
<br><br>
You agree that all information, communications, materials coming from Cryptrich are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.
<br><br>
All the data giving by a member to Cryptrich will be only privately used and not disclosed to any third parties. Cryptrich is not responsible or liable for any loss of data.
<br><br>
You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.
<br><br>
We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms. 
<br><br>
Cryptrich is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to Cryptrich that you will not use this site in any illegal way and you agree to respect your local, national and international laws.
<br><br>
Don't post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.
<br><br>
Multiple accounts are not allowed. In this case, all accounts will be blocked, and funds will be under management control.
<br><br>
We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.
<br><br>
Cryptrich reserves the right to accept or decline any member for membership without explanation.
<br><br>
If you do not agree with the above disclaimer, please do not go any further.
                  </p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <%- include("./partials/footer.ejs") %> 
    </main>
    <script src="/vendors/@popperjs/popper.min.js"></script>
    <script src="/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="/vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  </body>

</html>